* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

nav {
	width: 75%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 120px;
	cursor: pointer;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	
}

.nav-links ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.nav-links ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #f44336;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}


/* ABOUT US TOP SECTION */

.about-section {
	width: 100%;
	height:90vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(office.jpg);
	background-size: cover;
	background-position: center;
	
}

.about-section-content {
	width: 100%;
	position: absolute;
	top: 42%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	background:;
	}

.about-section-content h1 {
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-align: center;
	margin-top: 250px;
}

.about-section-content p {
	margin: 30px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 28px;
	line-height: 50px;
	color: #fff;
}

.about-section button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 30px;
	background: #4F9BE2;
	cursor: pointer;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin: 30px auto;
	border: #fff;
	border-radius: 25px;
	font-size: 20px;
}

.about-section button:hover {
	box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.5);
}


/* MIDDLE SECTION */

h1 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.middle {
	text-align: center;
	margin: auto;
	width: 60%;
	margin-bottom: 40px;
}

.row {
	display: flex;
}

.column {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 8px 10px;
  
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px 8px;
}

.container h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container h4{
	margin-bottom: 20px;
	color: #8E8E8E;
}

.container p {
	margin-bottom: 20px;
	text-align: left;
	
}

.container button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 30px;
	background: #4F9BE2;
	cursor: pointer;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin: auto;
	border: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	width: 100%;
}


/* ----------------- STATISTICS SECTION ---------------- */

.rect {
	padding: 30px;
	text-align: center;
	background-color: #4F9BE2;
	color: white;
	margin: auto;
	height: 240px;
}

.rect h1 {
	display: inline-block;
	margin: 130px;
	font-size: 40px;
	margin-top: 70px;
}


/* ----------------- WHAT DO WE OFFER SECTION ---------------- */



.sometitle {
	text-align: center;
	margin: auto;
	width: 60%;
	margin-bottom: 6px;
	margin-top: 40px;
}

.sometitle h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}


.title {
	background: #4F9BE2;
	padding: 10px;
	height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.sometitle-column {
	width: 100%;
}

.container2 {
	height: 170px;
}


.container2 p {
	margin-bottom: 30px;
	padding: 40px;
}

.sometitle-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 16px;
}

/*----------------- UNIVERSITIES ICONS ----------------*/




.universities-icons {
	margin-top: 100px;
	background: #C5E9FF;
	
}

.universities-icons-background {
	width: 90%;
	height: 220px;
	margin: auto;
	display: flex;
}

.universities-title {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	padding: 70px 0px 20px;
}

.universities-title h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}

.universities-icons-background img {
	width: 10%;
	display: inline-block;
	margin: 40px;
	margin-left: 70px;
	margin-top: 60px;
	
	
}



.contact-us {
	width: 60%;
}


form {
	margin: auto;
	
}
